<!-- footer -->
<footer id="footer">
    <div id="common_copyright">
        <div class="inner-frame">
            <ul class="clearfix">
                <li><a href="https://www.facebook.com/Fujitec-Argentina-SA-180945358600280/" target="_blank" class='fa fa-facebook-official w3-hover-opacity'></a></li>
                <li><a href="https://www.instagram.com/" target="_blank" class='fa fa-instagram w2-hover-opacity'></a></li>
                <li><a href="https://www.twitter.com/" target="_blank" class='fa fa-twitter w3-hover-opacity'></a></li>
                <li><a href="https://www.linkedin.com/company/fujitec-argentina-s.a./mycompany/" target="_blank" class='fa fa-linkedin w3-hover-opacity'></a></li>
            </ul>
            <p><small>Copyright &copy; 2022 FUJITEC. All Rights Reserved.</small></p>
        </div>
    </div>
</footer>
<!-- // footer -->

</body>
</html>