<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Fujitec Argentina</title>
	<!-- webclipicon -->
	<meta name="apple-mobile-web-app-title" content="タイトルが入ります">
	<link rel="apple-touch-icon-precomposed" href="/img/webclipicon.png">
	<link rel="shortcut icon" href="/img/favicon.ico">
	<!-- stylesheet media All -->
	<link rel="stylesheet" type="text/css" href="/css/initialize.css" media="all">
	<!-- stylesheet media sp -->
	<link rel="stylesheet" type="text/css" href="/css/basic_style_forSP.css" media="only screen and (min-width: 0px) and (max-width: 667px)">
	<!-- stylesheet media PC -->
	<link rel="stylesheet" type="text/css" href="/css/basic_style_forPC.css" media="only screen and (min-width: 668px)">
	<link rel="stylesheet" type="text/css" href="/css/basic_style_forGlobal.css">
	<!--[if lt IE 9]>
	<link rel="stylesheet" type="text/css" href="/css/basic_style_forPC.css" media="all">
	<![endif]-->
	<!-- stylesheet media Print -->
	<link rel="stylesheet" type="text/css" href="/css/basic_style_forPrint.css" media="print">

	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

	<!-- common JS -->
	<script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/js/common_header.js"></script>
	<script type="text/javascript" src="/js/footerFixed.js"></script>
	<script type="text/javascript" src="/js/pagetop_scroll.js"></script>
	<!-- ページ固有JS -->
	<link rel="stylesheet" type="text/css" href="/css/slick.css" media="all">
	<link rel="stylesheet" type="text/css" href="/css/slick-theme.css" media="all">
	<script type="text/javascript" src="/js/slick.min.js"></script>
	<script type="text/javascript" src="/js/carousel_topcontents.js"></script>
	<!-- // ページ固有JS -->
</head>
<body>
<div id="modalbg"></div>