{{> header}}

{{> navbar}}

<div id="contents">
	<div id="mainvisual">
		<img src="/img/en/mainvisual_en.png" alt="Elevating You to the Next Level" class="device01">
		<img src="/img/en/mainvisual_en_sp.png" alt="Elevating You to the Next Level" class="device02">
		<div class="layout-mvbutton"><a href="../quality/">
			<button class="button-transparency-mainvisual">Calidad Fujitec</button>
		</a></div>
	</div>

	<div class="inner-frame">
		<div class="wrapper-contents-xl">
			<ul class="listlayout-3clm-inline-fittype clearfix" id="top_mainmenu">
				<li><a href="/products/new_construction/">
					<dl class="list-thumbnail-topmainmenu">
						<dd>
							<img src="/img/en/menu_01.png" alt="Products">
						</dd>
						<dt>
							Productos
						</dt>
					</dl>
				</a></li>
				<li><a href="/products/maintenance/">
					<dl class="list-thumbnail-topmainmenu">
						<dd>
							<img src="/img/en/menu_02.png" alt="Global Network">
						</dd>
						<dt>
							Global Network
						</dt>
					</dl>
				</a></li>
				<li><a href="/products/renewal/">
					<dl class="list-thumbnail-topmainmenu">
						<dd>
							<img src="/img/en/menu_03.png" alt="Investor Relation">
						</dd>
						<dt>
							Clientes
						</dt>
					</dl>
				</a></li>
			</ul>
		</div>


		<div class="wrapper-contents-xl">
			<h1 class="title-1-black-xl-b">
				Referencias
				<a href="/products/project/">
					<button class="button-blue-more">Ver todos</button>
				</a>
			</h1>
			<ul class="list-card-globalprojects">

				<li>
					<a href="">

						<dl>
							<dt>Belgrano Office</dt>
							<dd><img src='public/BelgranoOffice.jpg'></dd>
						</dl>
						<!-- // miniatura + nombre del edificio -->
					</a>
					<!-- Información detallada -->
					<div class="box-cardinfo">
						<a href="">
							<dl>
								<dt>Belgrano Office</dt>
								<dd>
									<p>
										Cuatro niveles de estacionamiento proveen 344 cocheras simples y 20 dobles, todas accesibles con dos rampas de un solo sentido cada una. A estos niveles se accede por dos ascensores de cabotaje que recorren desde la planta baja hasta el 4o subsuelo. 
									</p>
									<ul>
										<li>Oficina</li>
										<li>Ascensores</li>
									</ul>
								</dd>
							</dl>
						</a>
					</div>
				</li>

				<li>
					<a href="">
						<dl>
							<dt>Madero Office</dt>
							<dd><img src="public/MaderoOffices.jpg"></dd>
						</dl>
					</a>
					<div class="box-cardinfo">
						<a href="">
							<dl>
								<dt>Madero Office</dt>
								<dd>
									<p>
										La torre de oficinas Madero Office es un rascacielos en la ciudad de Buenos Aires. Fue obra de la desarrolladora RAGHSA, se encuentra en el extremo del Dique 4 de Puerto Madero y tiene una altura máxima de 140 m.
									</p>
									<ul>
										<li>Oficina</li>
										<li>Ascensores</li>
									</ul>
								</dd>
							</dl>
						</a>
					</div>
				</li>

				<li>
					<a href="">
						<dl>
							<dt>Oceana Puerto Madero</dt>
							<dd><img src="public/Oceana.jpg"></dd>
						</dl>
					</a>
					<div class="box-cardinfo">
						<a href="">
							<dl>
								<dt>Oceana Puerto Madero</dt>
								<dd>
									<p>
										En el caso de las torres, cada una cuenta con ocho pisos, con un total de 192 unidades con amplios espacios y detalles constructivos high-end. Tienen departamentos de 1, 2, 3 y 4 dormitorios con superficies entre 82 m2 y 650 m2.</p>
									<ul>
										<li>Viviendas</li>
										<li>Ascensores</li>
									</ul>
								</dd>
							</dl>
						</a>
					</div>

				</li>

				<li>
					<a href="">
						<dl>
							<dt>Edificio Coca~Cola</dt>
							<dd><img src="public/CocaCola.jpg"></dd>
						</dl>
					</a>
					<div class="box-cardinfo">
						<a href="">
							<dl>
								<dt>Coca Cola FEMSA</dt>
								<dd>
									<p>
										Ubicado en la calle Vedia al 4000, el edificio se inauguró el 8 de mayo de 2018. Se trata de una torre de 15.000 m2 distribuidos en 14 pisos, que se destaca por sus espacios abiertos de trabajo.</p>
									<ul>
										<li>Oficinas</li>
										<li>Ascensores</li>
									</ul>
								</dd>
							</dl>
						</a>
					</div>
				</li>
				<li>
					<a href="">
						<dl>
							<dt>東急プラザ銀座</dt>
							<dd><img src="/img/works_01.png"></dd>
						</dl>
					</a>
					<div class="box-cardinfo">
						<a href="">
							<dl>
								<dt>東急プラザ銀座</dt>
								<dd>
									<p>
										国際的なビジネスセンターとしての役割を担う､高さ247mの超高層複合タワー。フジテックのエレベータ12台、エスカレータ32台が活躍しております。
									</p>
									<ul>
										<li>エレベータ</li>
										<li>オフィス</li>
									</ul>
								</dd>
							</dl>
						</a>
					</div>
				</li>

				<li>
					<a href="">
						<dl>
							<dt>虎ノ門ヒルズ</dt>
							<dd><img src="/img/works_02.png"></dd>
						</dl>
					</a>

					<div class="box-cardinfo">
						<a href="">
							<dl>
								<dt>虎ノ門ヒルズ</dt>
								<dd>
									<p>
										国際的なビジネスセンターとしての役割を担う､高さ247mの超高層複合タワー。フジテックのエレベータ12台、エスカレータ32台が活躍しております。
									</p>
									<ul>
										<li>エレベータ</li>
										<li>オフィス</li>
									</ul>
								</dd>
							</dl>
						</a>
					</div>

				</li>

				<li>
					<a href="">

						<dl>
							<dt>ザ・リッツ・カールトン京都</dt>
							<dd><img src="/img/works_03.png"></dd>
						</dl>
					</a>
					<div class="box-cardinfo">
						<a href="">
							<dl>
								<dt>ザ・リッツ・カールトン京都</dt>
								<dd>
									<p>
										国際的なビジネスセンターとしての役割を担う､高さ247mの超高層複合タワー。フジテックのエレベータ12台、エスカレータ32台が活躍しております。
									</p>
									<ul>
										<li>エレベータ</li>
										<li>オフィス</li>
									</ul>
								</dd>
							</dl>
						</a>
					</div>
				</li>
				<li>
					<a href="">
						<dl>
							<dt>Children’s Hospital of Philadelphia</dt>
							<dd><img src="/img/works_04.png"></dd>
						</dl>
					</a>
					<div class="box-cardinfo">
						<a href="">
							<dl>
								<dt>Children’s Hospital of Philadelphia</dt>
								<dd>
									<p>
										国際的なビジネスセンターとしての役割を担う､高さ247mの超高層複合タワー。フジテックのエレベータ12台、エスカレータ32台が活躍しております。
									</p>
									<ul>
										<li>エレベータ</li>
										<li>オフィス</li>
									</ul>
								</dd>
							</dl>
						</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="prefix-footer">
	<ul class="list-banners inner-frame clearfix">
		<li>
			<a href="/corporate/tecky/">
				<img src="/public/banner_02_en.png" alt="Fujitec's mascot TECKY">
			</a>
		</li>
	</ul>
</div>


{{> footer}}

<div id="pagetop"></div>
