<div id="header_all">
    <div id="header">
        <div class="inner-frame">
            <h1><a href="/home"><img src="../img/logo.png" alt="Fujitec"></a></h1>
            <ul id="menunavigation" class="en">
                <li><a href='/products'>Productos</a></li>
                <li><a href='/references'>Referencias</a></li>
                <li><a href='/network'>Global Network</a></li>
                <li><a href='/corporate'>Sobre Fujitec</a></li>
                <li><a href='/contact'>Contactanos</a></li>
                <li><a href='/service'>Servicio Técnico</a></li>
                </ul>
            <ul id="functionnavigation">
                <li class="icon-global"><a href="">English</a></li>
                <li class="icon-japanese"><a href="https://www.fujitec.com/">Global</a></li>
            </ul>
            <!-- SP MENU -->
            <!-- toggleswitch -->
            <div id="switch_spnavigation">
                <div class="menu-trigger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <p id="default">MENU</p>
                    <p id="open">Cerrar</p>
                </div>
            </div>
            <!-- // toggleswitch -->
            <!-- // SP MENU -->
        </div>
    </div>
    <!-- menu -->
    <!-- 製品・サービス -->
    <div id="menunavigation_search_sp">
        <!-- メニューリスト -->
        <div id="menunavigation_sp">
            <div id="menunavigation_inner">
                <ul class="list-spmenu-standard">
                <li><a href='/products'>Productos</a></li>
                <li><a href='/project/'>Referencias</a></li>
                <li><a href='/network'>Global Network</a></li>
                <li><a href='/corporate/'>Sobre Fujitec</a></li>
                <li><a href='/quality/'>Sustentabilidad</a></li>
                <li><a href='/help/'>Contactanos</a></li>
                <li><a href='/service/'>Servicio Técnico</a></li>
                </ul>
            </div>
            <div class="bar-spmenuclose">Cerrar</div>
        </div>
        <!-- // メニューリスト -->
        <!-- サイト内検索 -->
        <div id="menu_search">
            <div class="inner-frame clearfix">
                <form>
                    <div id="common_searchform" class="clearfix">
                        <input type="text" placeholder="Buscar">
                        <input type="submit" class="button-sitesearch" value="検索">
                    </div>
                </form>
            </div>
        </div>
        <!-- // サイト内検索 -->
    </div>
    <!-- // menu -->
</div>
<!-- // header -->