{{> header}}

{{> navbar}}


<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KGG7QVL"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> <div id="modalbg"></div>
    <div id="contents">
            <div id="pagetitle" class="type-pagetitle-top type-products">
                <div class="inner-frame">
                    <div><h1>Productos</h1></div>
                </div>
            </div>
            <div class="inner-frame">
                <div class="wrapper-contents-m">
                    <h2 class="title-2-underline">PAISES</h2>
                </div>
                
			<ul class="list-products-country">
				<li>Argentina</li>
				<li>Uruguay</li>
                <li>Venezuela</li>
				<li>Paraguay</li>
				<li>Bolivia</li>
				<li>Perú</li>
				<li>Brasil</li>
			</ul>

		</div>
		<div class="wrapper-contents-m">
			<div class="inner-frame">
				<h2 class="title-2-underline">CATALOGOS</h2>
			</div>
			<div class="wrap-tabs wrapper-contents-m">
				<ul class="list-tabs-under-red clm3 clearfix">
					<li id="tabswitch_01" class="active"><span>Ascensores</span></li>
					<li id="tabswitch_02"><span>Escaleras Mecánicas ~ Pasillos Rodantes</span></li>
					<li id="tabswitch_03"><span>Modernizaciones</span></li>
				</ul>
			</div>
			<script type="text/javascript">
				$(function(){
					$('ul.list-tabs-under-red > li').click(function() {
						var $tabSwitch = $(this);
						var $tabSwitchId = $(this).attr('id');

						$tabSwitch.siblings().removeClass('active');
						$tabSwitch.addClass('active');

						if($tabSwitchId == "tabswitch_01"){
							$('#tabcontents_03').css("display","none");
							$('#tabcontents_02').css("display","none");
							$('#tabcontents_01').css("display","block");
						}else if($tabSwitchId == "tabswitch_02"){
							$('#tabcontents_01').css("display","none");
							$('#tabcontents_02').css("display","block");
							$('#tabcontents_03').css("display","none");
						}else if($tabSwitchId == "tabswitch_03"){
							$('#tabcontents_01').css("display","none");
							$('#tabcontents_02').css("display","none");
							$('#tabcontents_03').css("display","block");
						}
					});
				});
			</script>
		</div>
		<div class="inner-frame">
			<div id="tabcontents_01">
				<ul class="list-3clm-incontents-links mg-top-30 clearfix">
					<li class="box-products-contents-inside new_con">
						<a href="/common/fjhp/doc/top_global/img_fixed_page/products/20190625 ZEXIA(SOUTH AMERICA)_sp.pdf" target="_blank" class="window-icon-none">
							<div>
								<img src="public/Zexia.png" alt="Small Machine-Room Elevator ZEXIA">
							</div>
							<dl class="list-products-contents">
								<dt>Ascensor con sala de máquinas reducida <span>ZEXIA-H</span></dt>
								<dd>
									<div class="box-products-tags">
										<ul class="listlayout-products-tags clearfix">
											<li><span>Oficinas</span></li>
											<li><span>Departamentos</span></li>
											<li><span>Instalaciones<br>Comerciales</span></li>
											<li><span>Hotel</span></li>
											<li><span>Hospital</span></li>
											<li><span>Estaciones, <br class="device02">Aeropuertos</span></li>
										</ul>
									</div>
									<div>
										<dl class="list-products-contents-inline clearfix">
											<dt>Capacidad</dt>
											<dd>450-2000kg</dd>
										</dl>
										<dl class="list-products-contents-inline clearfix">
											<dt>Velocidad</dt>
											<dd>60-240m/min</dd>
										</dl>
									</div>
								</dd>
							</dl>
						</a>
					</li>
                    <li class="box-products-contents-inside new_con">
						<a href="/common/fjhp/doc/top_global/img_fixed_page/products/20190625 ZEXIA(SOUTH AMERICA)_sp.pdf" target="_blank" class="window-icon-none">
							<div>
								<img src="public/Zexia.png" alt="Small Machine-Room Elevator ZEXIA">
							</div>
							<dl class="list-products-contents">
								<dt>Ascensor con sala de máquinas reducida <span>ZEXIA-D</span></dt>
								<dd>
									<div class="box-products-tags">
										<ul class="listlayout-products-tags clearfix">
											<li><span>Oficinas</span></li>
											<li><span>Departamentos</span></li>
											<li><span>Instalaciones<br>Comerciales</span></li>
											<li><span>Hotel</span></li>
											<li><span>Hospital</span></li>
											<li><span>Estaciones, <br class="device02">Aeropuertos</span></li>
										</ul>
									</div>
									<div>
										<dl class="list-products-contents-inline clearfix">
											<dt>Capacidad</dt>
											<dd>450-2000kg</dd>
										</dl>
										<dl class="list-products-contents-inline clearfix">
											<dt>Velocidad</dt>
											<dd>60-240m/min</dd>
										</dl>
									</div>
								</dd>
							</dl>
						</a>
					</li>
					<li class="box-products-contents-inside new_con">
						<a href="/common/fjhp/doc/top_global/img_fixed_page/products/20190625 REXIA(SOUTH AMERICA)_sp.pdf" target="_blank" class="window-icon-none">
							<div>
								<img src="public/rexia.png" alt="Machine-Room-Less Elevator REXIA">
							</div>
							<dl class="list-products-contents">
								<dt>Ascensor sin sala de máquinas <span> <br>REXIA-H</span></dt>
								<dd>
									<div class="box-products-tags">
										<ul class="listlayout-products-tags clearfix">
											<li><span>Oficinas</span></li>
											<li><span>Departamentos</span></li>
											<li><span>Instalaciones<br>Comerciales</span></li>
											<li><span>Hotel</span></li>
											<li><span>Hospital</span></li>
											<li><span>Estaciones, <br class="device02">Aeropuertos</span></li>
										</ul>
									</div>
									<div>
										<dl class="list-products-contents-inline clearfix">
											<dt>Capacidad</dt>
											<dd>450-2000kg</dd>
										</dl>
										<dl class="list-products-contents-inline clearfix">
											<dt>Velocidad</dt>
											<dd>60-150m/min</dd>
										</dl>
									</div>
								</dd>
							</dl>
						</a>
					</li>
                    <ul class="list-3clm-incontents-links mg-top-20 clearfix">
					<li class="box-products-contents-inside new_con">
						<a href="/common/fjhp/doc/top_global/img_fixed_page/products/20190625 REXIA(SOUTH AMERICA)_sp.pdf" target="_blank" class="window-icon-none">
							<div>
								<img src="public/rexia.png" alt="Machine-Room-Less Elevator REXIA">
							</div>
							<dl class="list-products-contents">
								<dt>Ascensor sin sala de máquinas <span> <br>REXIA-D</span></dt>
								<dd>
									<div class="box-products-tags">
										<ul class="listlayout-products-tags clearfix">
											<li><span>Oficinas</span></li>
											<li><span>Departamentos</span></li>
											<li><span>Instalaciones<br>Comerciales</span></li>
											<li><span>Hotel</span></li>
											<li><span>Hospital</span></li>
											<li><span>Estaciones, <br class="device02">Aeropuertos</span></li>
										</ul>
									</div>
									<div>
										<dl class="list-products-contents-inline clearfix">
											<dt>Capacidad</dt>
											<dd>450-2000kg</dd>
										</dl>
										<dl class="list-products-contents-inline clearfix">
											<dt>Velocidad</dt>
											<dd>60-150m/min</dd>
										</dl>
									</div>
								</dd>
							</dl>
						</a>
					</li>
				</ul>
            </ul>
				
				<div class="wrapper-contents-m">
					<h3 class="title-3-underline title-3-bg-gray">OPCIONALES</h3>
					<ul class="list-3clm-incontents-links mg-top-20 clearfix">
						<li>
							<a href="/common/fjhp/doc/top_global/img_fixed_page/products/ezshuttle.pdf" class="window-icon-none" target="_blank">
								<dl class="list-picuture-links">
									<dd>
										<img src="public/ezshuttle.png" alt="EZSHUTTLE">
									</dd>
									<dt>EZSHUTTLE</dt>
                                    <dt>Sistema de llamada pre-registro</dt>
								</dl>
							</a>
						</li>
						<li>
							<a href="/common/fjhp/doc/top_global/img_fixed_page/products/flex_nx.pdf" target="_blank" class="window-icon-none">
								<dl class="list-picuture-links">
									<dd>
										<img src="public/flexNX.png" alt="FLEX-NX">
									</dd>
									<dt>FLEX-NX</dt>
								</dl>
							</a>
						</li>
						<li>
							<a href="/common/fjhp/doc/top_global/img_fixed_page/products/skysalon.pdf" class="window-icon-none" target="_blank">
								<dl class="list-picuture-links">
									<dd>
										<img src="public/skysalon.png" alt="SKY SALON">
									</dd>
									<dt>SKY SALON</dt>
								</dl>
							</a>
						</li>
					</ul>
				</div>

			</div>

			<div id="tabcontents_02">
				<ul class="list-3clm-incontents-links mg-top-30 clearfix">
					<li>
						<a href="/common/fjhp/doc/top_global/img_fixed_page/products/gs8000_nx.pdf" target="_blank" class="window-icon-none">
							<dl class="list-picuture-links">
								<dd>
									<img src="public/GS8000.png" alt="GS8000-NX">
								</dd>
								<dt>GS8000-NX</dt>
							</dl>
						</a>
					</li>
					<li>
						<a href="/common/fjhp/doc/top_global/img_fixed_page/products/gs8100.pdf" target="_blank" class="window-icon-none">
							<dl class="list-picuture-links">
								<dd>
									<img src="public/GS8100.png" alt="GS8100">
								</dd>
								<dt>GS8100</dt>
							</dl>
						</a>
					</li>
				</ul>
			</div>

			<div id="tabcontents_03">
				<ul class="list-3clm-incontents-links mg-top-30 clearfix">
					<li>
						<a href="/common/fjhp/doc/top_global/img_fixed_page/products/royal_superdyne.pdf" target="_blank" class="window-icon-none">
							<dl class="list-picuture-links">
								<dd>
									<img src="public/ROYAL.png" alt="ROYAL SUPERDYNE">
								</dd>
								<dt>ROYAL SUPERDYNE</dt>
							</dl>
						</a>
					</li>
					<li>
						<a href="/common/fjhp/doc/top_global/img_fixed_page/products/dc_gearless.pdf" target="_blank" class="window-icon-none">
							<dl class="list-picuture-links">
								<dd>
									<img src="public/dc.png" alt="DC Gearless">
								</dd>
								<dt>DC Gearless</dt>
							</dl>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="wrapper-contents-m inner-frame">
			<h2 class="title-2-underline">LINKS</h2>
			<ul>
				<li><p><a href="http://www.fujitec.com.uy/" target="_blank" class="link-icon-next">FUJITEC URUGUAY S.A.</a></p></li>
				<li><p><a href="http://www.fujitec.com.ve/" target="_blank" class="link-icon-next">FUJITEC VENEZUELA C.A.</a></p></li>
			</ul>
                <div class="wrapper-contents-m type-trademark">
                    <p><img src="public/logo.png" alt="Fujitec"> es una marca comercial registrada de Fujitec en Japón, EE. UU., China, etc. Para obtener más información, comuníquese con nosotros.</p>
                </div>
            </div>
            <div class="prefix-footer">
                <div id="relationlinks" class="type-borderpdnone">
                    <ul class="list-arrow-links clm2 clearfix inner-frame">
                        <li>
                            <a href="contact/form">Contactanos</a>
                        </li>
                        <li>
                            <a href="/network">Global Network</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

{{> footer}}

<div id="pagetop"></div>