{{> header}}

{{> navbar}}

<script>
    jQuery(function($){
        // キーワード文字数制限
        $('input[name="keyword"]').focusout(function(event){
            var value = $(this).val();
            $(this).val(value.slice(0, 50));
        });
    });
    </script>
    
        <div id="contents" class="project" >
            <div id="pagetitle" class="type-pagetitle-top type-project">
                <div class="inner-frame">
                    <div><h1>Referencias</h1></div>
                </div>
            </div>
            <div id="pagecaption" class="inner-frame">
                <h2>Los productos de Fujitec sirven a los clientes en edificios emblemáticos de todo el mundo.</h2>
                <p>Entregamos productos seguros y confiables que cumplen con las expectativas de los clientes en una variedad de instalaciones en Japón y en el extranjero, como hoteles, edificios de oficinas, condominios, centros comerciales, museos y estaciones y terminales de transporte público. Mientras miramos hacia el futuro, asumimos un desafío tras otro para satisfacer las nuevas necesidades que surgen en las ciudades en constante crecimiento.</p>
            </div>
            <div class="inner-frame">   
                        <ul class="list-card-globalprojects clearfix" >
                                <li>
                        <a href="https://www.fujitec.com/project/2852">
                        <dl>
                            <dt>The Kobe-City’s Chuo-Ward Office and Culture Center</dt>
                            <dd>
                            <img src="/common/fjhp/doc/top_global/document/project/2852/14-1.jpg" ><span class="label-news"><img src="/common/fjhp/doc/top_global/img/label_new.png" alt="new"></span>                        </dd>
                        </dl>
                        </a>
                        <div class="box-cardinfo">
                            <a href="https://www.fujitec.com/project/2852">
                                <dl>
                                    <dt>The Kobe-City’s Chuo-Ward Office and Culture Center</dt>
                                    <dd>
                                        <p>
                                            The Kobe-City’s Chuo-Ward Office and Culture Center is a complex building with twelve (12) floors and one (1) basement. This office and center is ･･･                                    </p>
                                        <ul>
                                        <li>Elevator</li>                                    <li>Public facility</li>                                    </ul>
                                    </dd>
                                </dl>
                            </a>
                        </div>
                    </li>
                                <li>
                        <a href="https://www.fujitec.com/project/2848">
                        <dl>
                            <dt>OSAKA UMEDA TWIN TOWERS SOUTH</dt>
                            <dd>
                            <img src="/common/fjhp/doc/top_global/document/project/2848/unnamed.jpg" >                        </dd>
                        </dl>
                        </a>
                        <div class="box-cardinfo">
                            <a href="https://www.fujitec.com/project/2848">
                                <dl>
                                    <dt>OSAKA UMEDA TWIN TOWERS SOUTH</dt>
                                    <dd>
                                        <p>
                                            OSAKA UMEDA TWIN TOWERS SOUTH is a very prestigious building just above the Hanshin Electric Railway's Osaka-umeda station. This building is a ･･･                                    </p>
                                        <ul>
                                        <li>Elevator</li><li>Escalator</li>                                    <li>Office</li><li>Commercial facility</li>                                    </ul>
                                    </dd>
                                </dl>
                            </a>
                        </div>
                    </li>
                                <li>
                        <a href="https://www.fujitec.com/project/2708">
                        <dl>
                            <dt>The Westin Yokohama／The Apartment Bay YOKOHAMA</dt>
                            <dd>
                            <img src="/common/fjhp/doc/top_global/document/project/2708/fuj_Y-Westin_001-3-1.jpg" >                        </dd>
                        </dl>
                        </a>
                        <div class="box-cardinfo">
                            <a href="https://www.fujitec.com/project/2708">
                                <dl>
                                    <dt>The Westin Yokohama／The Apartment Bay YOKOHAMA</dt>
                                    <dd>
                                        <p>
                                            The Westin Yokohama and The Apartment Bay YOKOHAMA are in the Minato Mirai 21 district. These are full-service hotels capable of offering ･･･                                    </p>
                                        <ul>
                                        <li>Elevator</li><li>Escalator</li>                                    <li>Hotel</li>                                    </ul>
                                    </dd>
                                </dl>
                            </a>
                        </div>
                    </li>
                                <li>
                        <a href="https://www.fujitec.com/project/2704">
                        <dl>
                            <dt>Toranomon Hills Residential Tower</dt>
                            <dd>
                            <img src="/common/fjhp/doc/top_global/document/project/2704/外観_虎ノ門ヒルズレジデンシャルタワー_6016 (1).jpg" >                        </dd>
                        </dl>
                        </a>
                        <div class="box-cardinfo">
                            <a href="https://www.fujitec.com/project/2704">
                                <dl>
                                    <dt>Toranomon Hills Residential Tower</dt>
                                    <dd>
                                        <p>
                                            Toranomon Hills Residential Tower is a highly-prestigious luxury residential building with fifty-four (54) floors above ground and four (4) ･･･                                    </p>
                                        <ul>
                                        <li>Elevator</li>                                    <li>Residence</li>                                    </ul>
                                    </dd>
                                </dl>
                            </a>
                        </div>
                    </li>
                                <li>
                        <a href="https://www.fujitec.com/project/2702">
                        <dl>
                            <dt>Hotel Okura Kyoto Okazaki Bettei</dt>
                            <dd>
                            <img src="/common/fjhp/doc/top_global/document/project/2702/09-1.jpg" >                        </dd>
                        </dl>
                        </a>
                        <div class="box-cardinfo">
                            <a href="https://www.fujitec.com/project/2702">
                                <dl>
                                    <dt>Hotel Okura Kyoto Okazaki Bettei</dt>
                                    <dd>
                                        <p>
                                            The area of Okazaki in the eastern part of Kyoto prefecture has many historic structures like Heian Shrine, Nanzen-Ji Temple, etc., and many ･･･                                    </p>
                                        <ul>
                                        <li>Elevator</li>                                    <li>Hotel</li>                                    </ul>
                                    </dd>
                                </dl>
                            </a>
                        </div>
                    </li>
                                <li>
                        <a href="https://www.fujitec.com/project/2701">
                        <dl>
                            <dt>HOMMACHI SANKEI BUILDING</dt>
                            <dd>
                            <img src="/common/fjhp/doc/top_global/document/project/2701/18-1.jpg" >                        </dd>
                        </dl>
                        </a>
                        <div class="box-cardinfo">
                            <a href="https://www.fujitec.com/project/2701">
                                <dl>
                                    <dt>HOMMACHI SANKEI BUILDING</dt>
                                    <dd>
                                        <p>
                                            Hommachi Sankei Building is a twenty-one (21) floors above ground  representative office located along Midousuji street, the main street of ･･･                                    </p>
                                        <ul>
                                        <li>Elevator</li>                                    <li>Office</li>                                    </ul>
                                    </dd>
                                </dl>
                            </a>
                        </div>
                    </li>
                                <li>
                        <a href="https://www.fujitec.com/project/2707">
                        <dl>
                            <dt>Meiji University Izumi Learning Square</dt>
                            <dd>
                            <img src="/common/fjhp/doc/top_global/document/project/2707/20220407_014修正-1 (1).jpg" >                        </dd>
                        </dl>
                        </a>
                        <div class="box-cardinfo">
                            <a href="https://www.fujitec.com/project/2707">
                                <dl>
                                    <dt>Meiji University Izumi Learning Square</dt>
                                    <dd>
                                        <p>
                                            The “Meiji University Izumi Learning Square” is an eight (8) story education facility on Meiji University's Izumi Campus in Suginami-ku, ･･･                                    </p>
                                        <ul>
                                        <li>Elevator</li><li>Escalator</li>                                    <li>Public facility</li>                                    </ul>
                                    </dd>
                                </dl>
                            </a>
                        </div>
                    </li>
                                <li>
                        <a href="https://www.fujitec.com/project/2597">
                        <dl>
                            <dt>W Osaka</dt>
                            <dd>
                            <img src="/common/fjhp/doc/top_global/document/project/2597/W-001.jpg" >                        </dd>
                        </dl>
                        </a>
                        <div class="box-cardinfo">
                            <a href="https://www.fujitec.com/project/2597">
                                <dl>
                                    <dt>W Osaka</dt>
                                    <dd>
                                        <p>
                                            The W Osaka opened in Shinsaibashi, Osaka as Japan's first W Hotel. Designed by world-renowned architect Tadao Ando under the concept of a "･･･                                    </p>
                                        <ul>
                                        <li>Elevator</li>                                    <li>Hotel</li>                                    </ul>
                                    </dd>
                                </dl>
                            </a>
                        </div>
                    </li>
                                <li>
                        <a href="https://www.fujitec.com/project/2595">
                        <dl>
                            <dt>HOTEL  THE  MITSUI  KYOTO</dt>
                            <dd>
                            <img src="/common/fjhp/doc/top_global/document/project/2595/M-001-1.jpg" >                        </dd>
                        </dl>
                        </a>
                        <div class="box-cardinfo">
                            <a href="https://www.fujitec.com/project/2595">
                                <dl>
                                    <dt>HOTEL  THE  MITSUI  KYOTO</dt>
                                    <dd>
                                        <p>
                                            Nijojo Castle w as e stablished by the T okugawa Shogunate as a monument protecting the Kyoto Imperial Palace. HOTEL THE MITSUI KYOTO is only ･･･                                    </p>
                                        <ul>
                                        <li>Elevator</li>                                    <li>Hotel</li>                                    </ul>
                                    </dd>
                                </dl>
                            </a>
                        </div>
                    </li>
                                <li>
                        <a href="https://www.fujitec.com/project/2605">
                        <dl>
                            <dt>Hotel Collective</dt>
                            <dd>
                            <img src="/common/fjhp/doc/top_global/document/project/2605/DSC04183-1.jpg" >                        </dd>
                        </dl>
                        </a>
                        <div class="box-cardinfo">
                            <a href="https://www.fujitec.com/project/2605">
                                <dl>
                                    <dt>Hotel Collective</dt>
                                    <dd>
                                        <p>
                                            Hotel Collective is a new urban hotel fully equipped with multiple functional facilities where visitors and guests can experience utmost comfort ･･･                                    </p>
                                        <ul>
                                        <li>Elevator</li>                                                                        </ul>
                                    </dd>
                                </dl>
                            </a>
                        </div>
                    </li>
                                <li>
                        <a href="https://www.fujitec.com/project/2598">
                        <dl>
                            <dt>China Development Financial HQ</dt>
                            <dd>
                            <img src="/common/fjhp/doc/top_global/document/project/2598/★差し換え8月CDF HQ-.jpg" >                        </dd>
                        </dl>
                        </a>
                        <div class="box-cardinfo">
                            <a href="https://www.fujitec.com/project/2598">
                                <dl>
                                    <dt>China Development Financial HQ</dt>
                                    <dd>
                                        <p>
                                            China Development Financial Holding Corporation Headquarter is a high-class complex building owned by the China Life Insurance Co., Ltd. one of ･･･                                    </p>
                                        <ul>
                                        <li>Elevator</li>                                    <li>Office</li>                                    </ul>
                                    </dd>
                                </dl>
                            </a>
                        </div>
                    </li>
                                <li>
                        <a href="https://www.fujitec.com/project/2286">
                        <dl>
                            <dt>NAHA Cultural Arts Theater NAHArt</dt>
                            <dd>
                            <img src="/common/fjhp/doc/top_global/document/project/2286/DSC09214-Edit-1.jpg" >                        </dd>
                        </dl>
                        </a>
                        <div class="box-cardinfo">
                            <a href="https://www.fujitec.com/project/2286">
                                <dl>
                                    <dt>NAHA Cultural Arts Theater NAHArt</dt>
                                    <dd>
                                        <p>
                                            NAHA Cultural Arts Theater NAHArt is the culture development hub to create various diverse cultures. It is located at Kumoji of Naha City in ･･･                                    </p>
                                        <ul>
                                        <li>Elevator</li>                                    <li>Public facility</li>                                    </ul>
                                    </dd>
                                </dl>
                            </a>
                        </div>
                    </li>
                            </ul>
    
                <!-- 初期：非表示エリア -->
                <div class="wrapper-morecontents">
                <input type="hidden" name="page_num" value="1">
                <input type="hidden" name="add_disp_flg" value="1">
                            </div>
    
                <!-- // 初期：非表示エリア -->
                            <div class="wrapper-1button-center">
                    <div class="switchbar-more">
                        <span>more</span>
                    </div>
                </div>
                
                
            </div>
        </div><!-- // #contents -->

{{> footer}}

<div id="pagetop"></div>